<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmailService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50157/EmailService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmailService" contract="IEmailService"
                name="BasicHttpBinding_IEmailService" />
        </client>
    </system.serviceModel>
</configuration>